<div class="container-fluid">
  <div class="row">
    <div *ngFor="let product of products">
      <div class="col">
        <div class="card mx-5 mt-5" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">{{product?.name}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">Add or Remove Items</h6>
            <p class="card-text">Units {{product?.orderCount}}
              <mat-icon style="vertical-align: middle">shopping_cart</mat-icon>
            </p>
            <san style="margin-right: 3px">
              <button mat-mini-fab color="primary" (click)="getPriceDetails(product?.id, product?.orderCount, true)"
                      matTooltip="Add">
                <mat-icon>add</mat-icon>
              </button>
            </san>
            <san>
              <button mat-mini-fab color="primary" (click)="getPriceDetails(product?.id, product?.orderCount, false)"
                      matTooltip="Remove">
                <mat-icon>remove</mat-icon>
              </button>
            </san>
            <mat-divider style="margin-top: 10px"></mat-divider>
            <p class="card-text carton-row">Cartons
              <mat-icon style="vertical-align: middle">move_to_inbox</mat-icon>
              (Units: {{product?.cartonCapacity}})
            </p>
            <san style="margin-right: 3px">
              <button mat-mini-fab color="primary"
                      (click)="addOrRemoveCarton(product?.id,product?.orderCount,product?.cartonCapacity,true)"
                      matTooltip="Add">
                <mat-icon>add</mat-icon>
              </button>
            </san>
            <san>
              <button mat-mini-fab color="primary"
                      [disabled]="product.orderCount <= 0 || (product.orderCount - product?.cartonCapacity <0)"
                      (click)="addOrRemoveCarton(product?.id,product?.orderCount,product?.cartonCapacity,false)"
                      matTooltip="Remove">
                <mat-icon>remove</mat-icon>
              </button>
            </san>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="alert alert-secondary result-row" role="alert">
      <div class="alert-heading">
        <div class="row">
          <div class="mx-auto">
            <h3>Total cost : {{totalCost | number : '1.2-2'}} </h3>
          </div>
        </div>
        <div class="row">
          <div class="mx-auto">
            <button mat-mini-fab (click)="resetData()" matTooltip="Reset">
              <mat-icon>refresh</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
